body {
	background-color: lightblue;
	text-align: center;
	font-family: Helvetica;
}

#airports {
	width: 50%;
	float: center;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: left;
	border: solid black 1px;
	background-color: white;
	line-height: 30px;
}

th {
	border: solid black 1px;
}

th:hover{
	cursor: pointer;
}

td {
	border-bottom: solid black 1px;
}

.form {
	width: 50%;
	float: center;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border: solid black 1px;
	background-color: white;
}

input[type=text] {
	width: 150px;
	line-height: 20px;	
	margin-left: 5px;
	margin-bottom: 10px;
}

h4 {
	text-align: center;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
}

input[type=button] {
	border: none;
	margin-left: 5px;
	height: 25px;
}

input[type=button]:hover{
	cursor: pointer;
}

td.right {
	text-align: right;
	margin-right: 5px; 
}

td.center {
	text-align: center;
}

button:hover {
	cursor: pointer;
}

#plane {

	position: absolute;
	top: 150px;
	left: -1000px;
	width: 300px;
	animation: move 1s ease;
	
}



@keyframes move {
	20% {
		transform: translateX(0px) translateY(100px) scale(0.5);


	} 50 % {
		transform: translateX(500px) translateY(0px) scale(1);

		} 100% {
			transform: translateX(2000px) translateY(-100px) scale(2);

		}

}

